@import "config";

nav {
  padding: 3rem 1rem 2rem 1rem;
  width: 20%;
  background: darken($color: $theme-color, $amount: 4);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  .logo {
    padding: 0 0.3rem;
    // border-left: 2px solid $primary-color;
    i {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .chats-wrapper {
    padding: 2rem 0 1rem 0;
    height: 400px;
    overflow-y: auto;
    .chat-wrapper {
      padding: 0.3rem 0;
      margin: 0.3rem 0;
      &.active {
        padding: 0.3rem;
        background: lighten($color: $theme-color, $amount: 3);
        border-radius: 0.3rem;
      }
      &:hover {
        cursor: pointer;
        padding: 0.3rem;
        background: lighten($color: $theme-color, $amount: 3);
        border-radius: 0.3rem;
      }
    }
  }
  .nav-footer-wrapper {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    .btn-wrappers {
      align-items: center;
      padding: 0 4.5rem;
      a {
        text-align: center;
      }
    }
    .profile-wrapper {
      padding: 0.5rem;
      border-radius: 0.5rem;
      &:hover {
        background: lighten($color: $theme-color, $amount: 3);
      }
      img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
      .txt-wrapper {
        padding: 0 0.5rem 0 1rem;
        h3 {
          margin: 0 0 0.3rem 0;
        }
        a {
          padding: 0.3rem 0.8rem;
        }
      }
    }
  }
}

main {
  &#landing-page {
    .main-content {
      width: 100%;
      position: relative;
      .container {
        position: absolute;
        left: 19%;
        padding: 1rem 0;
        right: 0;
        #upload-wrapper {
          .wrapper {
            padding: 8rem 13rem 5rem 13rem;
            margin: 0 8rem;
            h3 {
              font-size: 2.3rem;
              font-family: karla-bold;
              color: lighten($color: $theme-color, $amount: 12);
            }
          }
        }
        #content-wrapper {
          padding: 1rem 10rem;
          .items-wrapper {
            padding: 0 3rem;
            .item-wrapper {
              margin: 1rem 0;
              border-radius: 0.5rem;
              background: darken($color: $theme-color, $amount: 5);
              .item-img-wrapper {
                padding: 0.5rem;
                img {
                  width: 100%;
                  height: 300px;
                  border-radius: 0.5rem;
                  object-fit: cover;
                }
              }
              .item-txt-wrapper {
                padding: 0.5rem 1rem;
                .wrapper {
                  padding: 1rem 0 0.5rem 0;
                  .wrapper-1 {
                    i {
                      font-size: 1.3rem;
                      margin: 0 0.5rem;
                      cursor: pointer;
                      &.fa-comment-alt {
                        font-weight: 200;
                      }
                    }
                  }
                  .wrapper-2 {
                    h3 {
                      margin: 0 0.7rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .container-nav {
        position: fixed;
        bottom: 0;
        background: lighten($color: $theme-color, $amount: 4);
        padding: 0.8rem 3rem 0.5rem 3rem;
        left: 60%;
        transform: translate(-50%, -50%);
        border-radius: 5rem;
        a {
          margin: 0 0.5rem;
          i {
            color: $base-color-2;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

// footer {
//   padding: 2rem 3rem;
// }

@import "mobile";
